<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLogin? 'Login' : 'Sign Up'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="ion-text-center">PropNex Investment Suite</h1>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input 
                type="text" 
                ngModel 
                name="email"
                required 
                #emailCtrl="ngModel"
              ></ion-input>
            </ion-item>

            <ion-item 
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none"
            >
              <ion-label>
                Invalid email.
              </ion-label>
            </ion-item>
        
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input 
                type="password"
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
              ></ion-input>
            </ion-item>

            <ion-item 
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none"
            >
              <ion-label>
                Invalid password.
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!isLogin">
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input 
                type="text" 
                ngModel 
                name="name"
                required 
                #nameCtrl="ngModel"
              ></ion-input>
            </ion-item>

            <ion-item 
              *ngIf="!nameCtrl.valid && nameCtrl.touched"
              lines="none"
            >
              <ion-label>
                Invalid name.
              </ion-label>
            </ion-item>
      
          </ion-list>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-button 
            type="button" 
            color="tertiary" 
            fill="clear" 
            expand="block"
            (click)="onSwitchAuthMode()"
            >{{ isLogin ? 
              'Don\'t have an account? Sign Up' : 
              'Already have an account? Login'}}
          </ion-button>
  
          <ion-button 
            type="submit"  
            expand="block"
            [disabled]="!f.valid"
            >{{ isLogin ? 
              'Login' : 
              'Sign Up'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- <ion-button (click)="fetchFBUsers()">
    Fetch FB Users
  </ion-button>

  <ion-button (click)="fetchFBPostals()">
    Fetch FB Postals
  </ion-button>

  <ion-button (click)="fetchFBTrans()">
    Fetch FB Trans
  </ion-button> -->

</ion-content>
