<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/units"></ion-back-button>
    </ion-buttons>

    <ion-title>Place Details</ion-title>

    <ion-button 
    *ngIf="currUser.userType === 'admin'"
    size="small" 
    color="tertiary"
    slot="end" 
    (click)="onEditBlockOptions()"
  >
    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="currPlace">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img *ngIf="!currPlace.imageUrl" src="assets/placeholders/property.jpeg"></ion-img>
        <ion-img *ngIf="currPlace.imageUrl" [src]="currPlace.imageUrl"></ion-img>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <h6>{{ currPlace.name }}, Singapore {{ currPlace.postal }}</h6>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button 
        color="tertiary" 
        expand="block"
        (click)="addToFav(currPlace.postal)"
        >
        Add To Favourites
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-searchbar 
        color="light"
        placeholder="Enter unit number (Eg. 01-01)"
        [debounce]="500"
        (ionChange)="handleChange($event)"
        ></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngIf="result">
            <ion-label *ngIf="result.unitNumber === undefined">
              <h2>No results found</h2>
            </ion-label>

            <ion-label 
              *ngIf="result.unitNumber !== undefined"
              (click) = "onSelectUnit()"
            >
              <h2>#{{ result.unitNumber }}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
