<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-subtitle class="ion-text-left ion-margin-bottom">Welcome Back,</ion-card-subtitle>
            <!-- <ion-card-title>{{currUser.firstname}} {{currUser.lastname}}</ion-card-title> -->
            <ion-card-title>{{currUser.name}}</ion-card-title>
            <ion-icon name="person-circle"></ion-icon>
          </ion-card-header>

          <ion-card-content class="ion-text-center">
            <ion-button fill="clear" color="tertiary" (click)="onEditProfile()">Edit Profile</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Favourites</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item 
                class="ion-no-padding ion-text-center" 
                *ngIf="!currUser.favourites || currUser.favourites.length <= 0"
              >
                <ion-label>
                  <h2>No favourites for now...</h2>
                </ion-label>
              </ion-item>

              <ion-item 
                class="ion-no-padding" 
                detail 
                *ngIf="currUser.favourites && currUser.favourites.length > 0"
                [routerLink]="['/', 'units', currUser.favourites[0].postal]"
              >
                <ion-thumbnail slot="start">
                  <ion-img [src]="currUser.favourites[0].imageUrl"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ currUser.favourites[0].name }}</h2>
                  <p>Singapore {{ currUser.favourites[0].postal}}</p>
                </ion-label>
              </ion-item>


              <ion-item 
                class="ion-no-padding" 
                detail 
                *ngIf="currUser.favourites && currUser.favourites.length > 1"
                [routerLink]="['/', 'units', currUser.favourites[1].postal]"
              >
                <ion-thumbnail slot="start">
                  <ion-img [src]="currUser.favourites[1].imageUrl"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ loadedFavPlaces[1].name }}</h2>
                  <p>Singapore {{ currUser.favourites[1].postal}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>

          <div class="ion-text-center" >
            <ion-button 
              fill="clear" 
              color="tertiary"
              [routerLink]="[
              '/', 
              'home', 
              'tabs', 
              'favourites'
              ]"
            >
            View More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Recommended For You</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item 
                class="ion-no-padding ion-text-center" 
                *ngIf="!currUser.personalRec || currUser.personalRec.length <= 0"
              >
                <ion-label>
                  <h2>No recommendations for now...</h2>
                </ion-label>
              </ion-item>

              <ion-item 
                class="ion-no-padding" 
                detail 
                *ngIf="currUser.personalRec && currUser.personalRec.length > 0"
                [routerLink]="['/', 'units', currUser.personalRec[0].postal]"
              >
                <ion-thumbnail slot="start">
                  <ion-img [src]="currUser.personalRec[0].imageUrl"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ currUser.personalRec[0].name }}</h2>
                  <p>Singapore {{ currUser.personalRec[0].postal}}</p>
                </ion-label>
              </ion-item>

              <ion-item 
                class="ion-no-padding" 
                detail 
                *ngIf="currUser.personalRec && currUser.personalRec.length > 1"
                [routerLink]="['/', 'units', currUser.personalRec[1].postal]"
              >
                <ion-thumbnail slot="start">
                  <ion-img [src]="currUser.personalRec[1].imageUrl"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ currUser.personalRec[1].name }}</h2>
                  <p>Singapore {{ currUser.personalRec[1].postal}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>

          <div class="ion-text-center">
            <ion-button 
              fill="clear" 
              color="tertiary"
              [routerLink]="[
              '/', 
              'home', 
              'tabs', 
              'recommendations'
              ]"
            >
            View More
          </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>