<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Find Place</ion-title>

    <ion-button 
    *ngIf="currUser.userType === 'admin'"
    size="small" 
    color="tertiary"
    slot="end" 
    (click)="onAddBlock()"
  >
    <ion-icon slot="icon-only" name="add-outline"></ion-icon>
</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar 
        color="light"
        placeholder="Enter postal code"
        [debounce]="500"
        (ionChange)="handleChange($event)"
        ></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngIf="result">
            <ion-label *ngIf="result.name === undefined">
              <h2>No results found</h2>
            </ion-label>

            <ion-thumbnail *ngIf="result.name !== undefined" slot="start">
              <ion-img *ngIf="result.imageUrl" [src]="result.imageUrl"></ion-img>
              <ion-img *ngIf="!result.imageUrl" src="assets/placeholders/property.jpeg"></ion-img>
            </ion-thumbnail>
            
            <ion-label 
              *ngIf="result.name !== undefined"
              (click) = "onSelectPlace()"
            >
              <h2>{{ result.name }}</h2>
              <p>Singapore {{ result.postal}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list *ngIf="result">
          <ion-item class="custom-color">
            Similar Places:
          </ion-item>
          
          <div *ngIf="findRecs.length == 0">
            <ion-item>
              Currently Unavailable
            </ion-item>
          </div>
          
          <div *ngIf="findRecs.length != 0">
            <ion-item *ngFor="let recPlace of findRecs">
              {{recPlace}}
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
