<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/units"></ion-back-button>
    </ion-buttons>

    <ion-title>Unit Detail</ion-title>

    <ion-button 
      *ngIf="currUser.userType === 'admin'"
      size="small" 
      color="tertiary"
      slot="end" 
      (click)="onEditUnit()"
    >
      <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
  </ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="places[0].imageUrl"></ion-img>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <h6>{{ places[0].name }}, Singapore {{ places[0].postal }}</h6>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-list *ngFor="let dets of unitDetails">
          <ion-item>
            {{dets}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-item>VR Link:</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-button (click)="presentPopover($event)">View Floor Plan</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
