<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button fill="clear" color="danger" (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Block</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editBlockForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Project Name</ion-label>
              <ion-input 
                type="text"  
                formControlName="projectName"
              ></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label position="floating">Postal Code</ion-label>
              <ion-input 
                type="text"
                formControlName="postalCode"
              ></ion-input>
            </ion-item>

            <ion-row>
              <ion-col>
                <ion-button 
                (click)="uploadBlockImage()" 
                expand="block"
                >Upload Block Image
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-button 
                type="submit" 
                (click)="submitEditBlock()" 
                expand="block"
                >Submit
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
